
/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Oxygen:wght@400;700&display=swap'); 

*{
font-family: 'kanit', 'san-serif';
font-style: italic;
}

/*  Page Elements  */
body {
    background-color: #07272d;

}

header {
    margin-top: 12px;
    line-height: 4px;
    text-align: center;

}

footer {
    text-align: center;

}

h1 {
    font-size: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #ffb600;
}

h3 {
    font-size: 32px;
    color: white;
}



p {
    font-size: 20px;
    color: white;
}

li{
    color: white;
}

/* Question Box*/
main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 40px;
    justify-content: center;
    border-color: #ffb600;
    background-color: #ffb600;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    padding: 8px;
   

}
section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0px 100px;

}

/* Highscores button Styles */
a {
    text-decoration: none;
    color: white;
    

}

a:hover { 
    color: #ffb600; 

}


/* OL */
ol {
    display: block;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0px 250px 0px;
}

/* Start Quiz Button */
header button {
  background-color: #ffb600;
  color: white;
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 15px 32px;
  position: relative;

}

/* Answer Background */
#answer1, #answer2, #answer3, #answer4 {
  background-color: #ffb600;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
